.root {
  flex: 1 0 50%;
  height: 100%;
  padding: 0 5px;
  font-size: 18px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message {
  text-align: center;
  align-self: center;
  font-weight: bold;
  font-size: 36px;
  flex: 1 0 auto;
}

.spinner {
  margin-bottom: 15px;
}
