.root {
	height: 30px;
	border: none;
	padding: 5px;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	color: white;
	font-size: 14px;
}

.normal {
	background: #41acf4;
}

.cancel {
	background: #d82231;
}