.container {
	flex: 0 1 210px;
	height: 100%;
}

.header {
	text-align: center;
	font-weight: bold;
	padding: 5px;
	border-bottom: 1px solid white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.listContainer {
	padding-bottom: 37px;
}