.container {
  flex: 0 1 210px;
  height: 100%;
}

.header {
  text-align: center;
  font-weight: bold;
  padding: 0 3px;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  width: 210px;
  justify-content: flex-start;
  height: 30px;
}

.selection {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
}

.listContainer {
  padding-bottom: 37px;
}

.notFound {
  padding: 5px;
  font-size: 18px;
}
