.root {
	flex: 1 0 50%;
	padding: 15px;
	font-size: 18px;
	text-align: center;
}

.data {
	font-weight: bold;
}

.section {
	margin-bottom: 15px;
}

.chartSection {
	display: flex;
}

.chartContainer {
	flex: 0 0 50%;
}

.chartParent {
	position: relative;
	margin-bottom: 15px;
}