.container {
  display: flex;
  height: 100%;
}

.leftContainer {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}
