.container {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.top {
	display: flex;
	justify-content: space-between;
	padding: 10px 10px 10px 0;
	border-bottom: 1px solid white;
}

.bottom {
	display: flex;
	height: 100%;
}

.left {
	flex: 0 0 209px;
	border-right: 1px solid white;
}

.right {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}
