.root {
	display: flex;
	flex: 1 0 auto;
	justify-content: space-around;
	align-items: flex-end;
}

.container {
	flex: 0 0 30%;
	display: flex;
	align-items: flex-start;
}

/*.datePicker {
	display: flex;
	flex-direction: column;
}*/

.input {
	height: 20px;
	font-size: 16px;
}