.content {
  display: flex;
  align-items: center;
  color: #232c39;
}

.snippet {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
  white-space: nowrap;
  flex: 1 1 90%;
}

.date {
  color: white;
  margin: 0 10px;
  flex: 0 0 80px;
  display: inline-block;
}

.count {
  color: white;
  margin: 0 10px;
  flex: 0 0 20px;
}

.clickable {
  cursor: pointer;
}

.clickable:hover .snippet {
  text-decoration: underline;
}
