.container {
  flex: 1 0 50%;
  border-bottom: 1px solid white;
  display: flex;
}

.message {
  text-align: center;
  align-self: center;
  font-weight: bold;
  font-size: 36px;
  flex: 1 0 auto;
}

.header {
  display: flex;
  height: 30px;
  font-weight: bold;
  align-items: center;
  border-bottom: 1px solid white;
}

.dateHeader {
  flex: 0 0 80px;
  margin: 0 10px;
}

.snippetHeader {
  flex: 1 1 90%;
  display: flex;
  align-items: center;
}

.countHeader {
  margin: 0 10px;
  flex: 0 0 20px;
}

.spinner {
  margin-bottom: 15px;
}

.notFound {
  font-weight: bold;
  font-size: 36px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
