.container {
  flex: 1 0 50%;
  border-bottom: 1px solid white;
}

.message {
  margin-top: 15px;
  text-align: center;
  font-weight: bold;
}

.header {
  display: flex;
  height: 30px;
  font-weight: bold;
  align-items: center;
  border-bottom: 1px solid white;
}

.dateHeader {
  flex: 0 0 80px;
  margin: 0 10px;
}

.snippetHeader {
  flex: 1 1 90%;
  display: flex;
  align-items: center;
}

.countHeader {
  margin: 0 10px;
  flex: 0 0 20px;
}
