.image {
	height: 60px;
	width: 60px;
}

.initials {
	height: 60px;
	font-size: 3em;
	display: flex;
	align-items: center;
}

.email {
	overflow: hidden;
	max-width: 200px;
	text-overflow: ellipsis;
	white-space: nowrap;
}